.menu_list{
    max-height : 0;
    transition : all .3s ease;
    overflow : hidden;
    a{
        display: block;
        height : 40px;
        line-height : 40px;
        padding-left : 24px;
        color: #666;
        transition: background-color .3s ease;

        &:hover{
            background-color: rgba(30, 139, 247, 0.07);
        }
    }

    .active_link{
        color : #1c81e5;
        border-right: 2px solid #1c81e5;
    }
}

.menu_list_expand {
    max-height : 360px;
}

.menu_sub_wrapper{
    h3{
        height : 40px;
        line-height : 40px;
        font-size : 14px;
        padding-left : 24px;
        transition: background-color .3s ease;

        &:hover{
            background-color: rgba(30, 139, 247, 0.07);
        }
    }

    a{
        padding-left : 48px;
    }
}

.title_area{
    position : relative;
    cursor : pointer;
    .arrow{
        position: absolute;
        right: 10px;
        top: 12px;
        transition : all .3s ease;
    }

    .arrow_expand{
        transform : rotate(180deg);
    }
}
